html {
    overflow-y: scroll;
}

body, input {
	background-color: #FFFFFF;
	font-family: 'Inconsolata', cursive;
}

input {
  padding: 3px; }

textarea {
  width: 600px;
  height: 150px; }

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
}

#header, #content, #links {
  width: 1200px;
  padding: 5px;
  margin: 15px;
  padding-left: 5px;
}

#header {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: #FFCC33;
}

#links {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #E0E0E0;
}

.arow {
    height: 25px;
    clear: both; 
}

.arow:nth-child(odd) {
    background-color: #eee;
}
.arow:nth-child(even) {
    background-color: #fff;
}

.aclr {
    font-size: 0px;
    line-height: 0px;
    clear: both; 
}
.acol {
    background-color: #CCFF33;
    text-align: center;
    float: left;
    margin: 5px;
    margin-left:0px;
}

.bcol {
    text-align: center;
    float: left;
    margin: 5px;
    margin-left:0px;
}

.acol_id, .acol_up {
    width: 50px;
}
.acol_status {
    width: 150px;
}
.acol_date {
    width: 200px;
}
.acol_ip {
    width: 250px;
}

.lcol {
    text-align: left;
}

.quotehead {
    background-color: #CCFF33;
}

.quote {
	margin: 0;
}

.hquote {
  margin: 0;
}

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #00f; }

.huge {
  font-size: xx-large;
  font-weight: bold; }

a.black {
  text-decoration: none;
  color: #000000;
  font-family: 'Kameron', serif;
  }

a.up {
  color: green;
  font-weight: bold;
  font-size: 14pt; }

.hide {
  display: none; }

input.qid {
  width: 50px; }

p.np {
  /* LOL */
  padding: 0;
  margin: 0; }
