body, input {
	background-color: #E5F9FF;
	font: 11pt monospace;
	margin: 5px;	
}

input {
	padding: 3px;
}

textarea {
	width: 600px;
	height: 150px;
}

#header {
	margin: 15px;
	padding: 13px;
	padding-top: 10px;
	background-color: #D8CCFF;
	border: 1px solid #000000;
}

#content {
	margin: 15px;
	padding: 13px;
	background-color: #D8CCFF;
	border: 1px solid #000000;
}

#topr {
	float: right;
	margin-right: 13px;
	position: relative;
	top: 6px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color:#00f;
}

.huge {
	font-size: xx-large;
	font-weight: bold;
}

a.black {
    text-decoration: none;
    color: #000000;
}

.quote {
	margin: 0px;
}

a.up { 
	color: green;
	font-weight: bold;
	font-size: 14pt;
}

.hide {
    display: none;
}

input.qid {
    width: 50px;
}

p.np {
    /* LOL */
    padding: 0px;
}