body, input {
	background-color: #EDEDED;
	font: 11pt monospace;
	margin: 5px;	
}

textarea {
	width: 600px;
	height: 150px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color:#00f;
}

#header {
	margin: 15px;
	padding: 13px;
	padding-top: 10px;
	background-color: #B2D300;
	border: 1px solid #D46600;
}

#content {
	margin: 15px;
	padding: 13px;
	background-color: #B2D300;
	border: 1px solid #D46600;W
}

#topr {
	float: right;
	margin-right: 13px;
	position: relative;
	top: 6px;
}

.huge {
	font-size: xx-large;
	font-weight: bold;
}

.up { 
	color: green;
	font-weight: bold;
}

.down {
	color: red;
	font-weight: bold;
}

.quote {
	margin: 0px;
}

